<div class="calculator">

  <app-display></app-display>

  <div class="buttons">
    <ng-container *ngFor="let key of keys">
      <app-button class="digit" [value]="key" (pressed)="display.addToDisplay($event)"></app-button>
    </ng-container>
    <app-button class="dot" [value]="'.'" (pressed)="display.addToDisplay($event)"></app-button>
    <app-button class="digit" [value]="'0'" (pressed)="display.addToDisplay($event)"></app-button>
    <app-button class="clear" [value]="'C'" (pressed)="display.clearDisplay()"></app-button>
  </div>

</div>
